* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
        .clothing-section img {
            width:90%;
            height:60vh;
            background-color: #fff;
            box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
            /* padding: 0 4%; */
             margin-top: 50px; 
              
        }
        .clothing-section h4 {
           padding-top: 5px;
           font-size: 12px;
           font-weight: bold;
           font-family: "Montserrat", sans-serif;
}
        


        .clothing-section p{

            color: #009688;
            padding-top: 5px;
            font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}
        

        .clothing-container {
            box-sizing: border-box;
            padding-left: 40px;
            padding-bottom: 30px;
       }


        .clothing-section {
             
             display: flex;
             margin-bottom:40px; 
             margin-left: 110px;
             margin-right: 80px; 
             justify-content: space-around;  
        }

        

   .text-content{

    width:95%;
    

   }
   .accessories-section img {

             width:90%;
            height:60vh;
            background-color: #fff;
            box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
            padding: 0 4%;
            margin-top: 50px;
            
   }

   .accessories-section {
            display: flex;
             margin-bottom:40px;
             margin-left: 130px;
             margin-right: 80px; 
             justify-content: space-around; 
               }

     .accessories-section p {
              color: #009688;
              padding-top: 5px;
              font-size: 15px;
              letter-spacing: 1px;
              font-weight: bold;
                   }

      .accessories-container {
              
        margin-top: 30px;
        }             

        .accessories-section h4 {
           padding-top: 5px;
           font-size: 12px;
           font-weight: bold;
           font-family: "Montserrat", sans-serif;
         }
        
         .accessories-container h2 {

     padding-left: 40px;
}