li{
    list-style: none;
    display: inline;
    margin-left: 100px;
    font-size: 22px;
}
li a{
    text-decoration: none;
    color: white;
}
a:hover
{
    background-color: black;
    padding: 10px 15px 10px 15px;
}
nav
{
    background-color: darkblue;
    width: 100%;
    height: 100%;
    padding: 45px 0px 45px 0px;
}
*
{
    margin: 0;
    padding: 0;
}
#a
{
    padding: 10px 20px 10px 20px;
    background-color:darkblue ;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}





@media screen and (min-width:300px) and (max-width:800px){
    nav
    {
        background-color: aquamarine;
    
    }
    li a{
        color: black;
    }
    #a{
        background-color:red;
    
    }
    
   
    }
    
@media screen and (min-width:300px) and (max-width:800px){
    .cards img
    {

        height: 300px;
    }
}




    .cards{
    display: flex;
    flex-wrap: wrap;
    }
    .cards img
    {
        padding: 10px;
        margin: 10px 5px 20px 50px;
    }




